{% extends 'base.html.twig' %}

{% block title %} Trouve une sessource{% endblock %}

{% block body %}


    {% if app.user %}
        <div class="flex justify-center p-5 text-5xl">
            Hello {{ app.user.username }}, <a class="text-red-500" href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div id="app">
        <div>
            <h1> Hello</h1>
            <search-component :res="{{ ressources | json_encode }}"></search-component>
        </div>

    </div>

{% endblock %}
