{% extends 'base.html.twig' %}

{% block title %} Trouve une sessource{% endblock %}

{% block body %}

    <div id="app">
        <div class="px-10 ">
            <search-component :res="{{ ressources.content | json_encode }}"></search-component>
        </div>

    </div>

{% endblock %}
