{% extends 'base.html.twig' %}

{% block title %}Stats{% endblock %}

{% block body %}


<div id="app">
    <landing-stats></landing-stats>

    {% for r  in ressources %}
        {{ r }}
    {% endfor %}
</div>

{% endblock %}
