{% extends 'base.html.twig' %}

{% block title %}Hello SumbitRessourceEntityController!{% endblock %}

{% block body %}

    <div class="text-3xl"></div>

    <div id="app">
        <div class="">

            <div class="min-h-full w-1/4 h-96 flex items-center justify-center bg-gray-400">

                <div class="flex justify-center items-center h-96 ">
                    {{ form_start(form) }}



                    {{ form_end(form) }}

                </div>

            </div>
        </div>

    </div>







{% endblock %}
